// 配置全局变量scss

// 左侧菜单宽度
$base-menu-width:220px;

// 左侧菜单背景颜色
$base-menu-background:#001529;

// 顶部导航高度
$base-tabber-top:50px;

$base-menu-logo-height:50px;

$base-menu-logo-title-size:20px;

$base-menu-min-width:50px;